.header {
    top: 0;
    .navbar-main {
        border-bottom: 4px solid #009CDA;
        background-image: url($ioc-himage);
        .container {
            height: 60px;
        }
    }
    .navbar-form {
        &.navbar-collapse {
            top: 13px;
        }
    }
    .nav-toggle-area {
        position: absolute;
        top: 13px;
        right: 0;
        padding: 0;
        button {
            color: $ioc-link;
        }
    }
    .logo-area {
        max-width: 50%;
        line-height: 60px;
        @media (max-width: $screen-xs-min) {
            max-width: 55%;
        }
        .logo {
            max-width: 100%;
            margin: 0;
        }
        a:hover, a:focus {
            text-decoration: none;
            background: transparent none repeat scroll 0 0;
        }
        .sitename {
            font-size: 2.5em;
            font-weight: bold;
            color: #555;
            letter-spacing: -1px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .topright-menu {
        padding-top: 13px;
        .login-link {
            a {
                color: $ioc-link;
                border-radius: 2px;
                &:hover {
                    color: #fff;
                    background-color: $ioc-link;
                }
            }
        }
    }

    .admin-title {
        .admin-site {
            color: $ioc-link;
            font-family: $font-family-serif;
            font-size: 18px;
            &:focus,
            &:hover {
                color: $ioc-link-dark;
            }
        }
    }

    + .container {
        margin-top: 0;
        @media (min-width: $screen-sm-min) {
            margin-top: 50px;
        }
    }
}
