// overriding/additional styles for theme
body {
    background-color: $brand-primary;
    background-image: url($ioc-bgimage);
    > .container {
        background-color: #fff;
        background-image: url($ioc-bgimage);
    }
}

.footer {
    background-color: transparent;
    .footer-inner {
        background-color: #ffffff;
        .admin & {
            border-radius: 0;
            border-color: #ffffff;
        }
    }
}

@for $i from 1 through 5 {
    .header.message-count-#{$i} {
        + .main-content {
            @media (min-width: $screen-sm-min) {
                margin-top: ($i * 33px) + 40px;
            }
        }
    }
}
