// overriding/additional styles for theme
.navbar.header {
    border-top: 0;
    border-right: 0;
    border-bottom: 4px;
    border-left: 0;
    border-style: solid;
    border-color: $ioc-blue;
}

.top-nav.navbar-nav {
    background-color: transparent;
}

@media (max-width: $screen-xs-max) {
    .navbar-inverse .navbar-nav {
        > li > a {
            &:hover,
            &:focus,
            &:active {
                background-color: $brand-primary-faint;
            }
        }
        >.active > a {
            color: #000;
            border-color: #fff;
            background-color: #fff;
            &:hover,
            &:focus,
            &:active {
                color: $ioc-link-dark;
                border-color: #fff;
                background-color: #fff;
            }
        }
    }
}
.navbar-default .navbar-nav > li {
    > a:hover, > a:focus {
        background-color: transparent;
        color: $ioc-link-dark;
    }
}

.navbar-default .navbar-nav:not(.top-nav) > li > a:focus {
    color: $brand-primary;
}

.navbar-form {
    border: 0;
}

body {
    &.admin {
        .navbar-default {
            .navbar-text {
                color: #333333;
            }
        }
    }
}

.main-nav .has-dropdown .dropdown-tertiary > li > a {
    padding: 3px 20px 3px 30px;
}

.navbar-inverse {
    .navbar-nav > .active {
        > a {
            color: #000;
            background-color: #fff;
        }
        > a:hover, a:focus {
            color: $ioc-link-dark;
        }
    }

    .navbar-link:hover {
        color: $ioc-link-dark;
    }
}
