/* Changes for datepicker - original css is part of jquery-ui */
/* line 3, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-datepicker {
  font-size: 0.7em;
  z-index: 6 !important; }
  /* line 6, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-year, .ui-datepicker .ui-datepicker-next-year {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em; }
  /* line 12, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-year {
    left: 2px; }
  /* line 15, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-next-year {
    right: 2px; }
  /* line 18, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-year span, .ui-datepicker .ui-datepicker-next-year span {
    display: block;
    left: 50%;
    margin-left: -7px;
    margin-top: -8px;
    position: absolute;
    top: 50%; }
  /* line 26, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-year-hover, .ui-datepicker .ui-datepicker-next-year-hover {
    top: 1px; }
  /* line 29, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-year-hover span, .ui-datepicker .ui-datepicker-next-year-hover span {
    margin-left: -8px; }
  /* line 32, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-next-year span {
    margin-left: -9px; }
  /* line 35, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-next-year-hover span {
    margin-left: -8px; }
  /* line 38, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    margin-left: -7px; }
  /* line 41, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev-hover span, .ui-datepicker .ui-datepicker-next-hover span {
    margin-left: -8px; }
  /* line 44, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-prev {
    left: 23px; }
  /* line 47, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-next {
    right: 23px; }
    /* line 49, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
    .ui-datepicker .ui-datepicker-next span {
      margin-left: -9px; }
  /* line 53, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker .ui-datepicker-next-hover span {
    margin-left: -8px; }
  /* line 56, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-datepicker button.ui-priority-secondary {
    opacity: 1;
    font-weight: 700; }

/* line 61, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-datepicker.in-modal {
  z-index: 1041 !important; }

/* Styles for the new year prev/next css */
/* Styles changes to get prev/next to work with year prev/next css */
/* line 69, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-icon-circle-triangle-wy {
  background-position: -144px -192px; }

/* line 73, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-icon-circle-triangle-ey {
  background-position: -112px -192px; }

/* Changes for timepicker */
/* line 80, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

/* line 83, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-timepicker-div dl {
  text-align: left; }
  /* line 85, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-timepicker-div dl dt {
    float: left;
    clear: left;
    padding: 0 0 0 5px; }
  /* line 90, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-timepicker-div dl dd {
    margin: 0 10px 10px 40%; }

/* line 94, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-timepicker-div td {
  font-size: 90%; }

/* line 99, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

/* line 106, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
.ui-timepicker-rtl {
  direction: rtl; }
  /* line 108, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
  .ui-timepicker-rtl dl {
    text-align: right;
    padding: 0 5px 0 0; }
    /* line 111, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
    .ui-timepicker-rtl dl dt {
      float: right;
      clear: right; }
    /* line 115, /Library/WebServer/Documents/mahara/htdocs/theme/raw/sass/datepicker.scss */
    .ui-timepicker-rtl dl dd {
      margin: 0 40% 10px 10px; }
